// 
 File Name: header.pug
 Author: David Wiafe
 Description: header file to be shared among all other pug files
              used to jump from page to page using links

doctype html
html
  head
    title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
   ul
    if !boolValue
     li
      a(href="/login") Login
     li
      a(href="/register") Register
    if boolValue
     li
      a(href="/media") Media
     li
      a(href="/post") View Media Posts